/* include reset styles and bootsrap 4 grid */
@import url('bootstrap-reboot.css');
@import url('bootstrap-grid.css');
/* main styles */
body {
    font-size: 1em;
    font-family: 'Bender', 'Geometria', sans-serif;
}
h1 {
    color: red;
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}
label, input[type='text'] {
    min-width: 100%;
}
.blur {
    filter: blur(5px);
}
.hide {
    display: none;
}
.h100 {
    height: 100%;
}
.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}
.game-bg-image{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}
.wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}
.canvas-wrap {
    align-self: center;
    justify-self: center;
    width: 1280px;
    height: auto;
    margin: 0 auto;
}
.canvas {
    width: 100%;
    height: auto;
}
/* SelectionWheel Style start */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 998;
}
.selectionWheel-modal-wrap {
    max-width: 696px;
    width: 100%;
    max-height: 697px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.selectionWheel-modal {
    position: relative;
    width: 100%;
    height: 100%;
}
.selectionWheel-bg {
    position: absolute;
    font-size: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 516px;
    height: auto;
    z-index: 11;
}
.selection-btn {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    margin: 0;
    padding: 0;
}
.selection-btn:focus {
    outline: none;
}
.selectionWheel-back-btn {
    position: absolute;
    left: 50%;
    bottom: 8.3%;
    transform: translateX(-50%);
    background-image: url('../img/selectionWheel/backBtn.png');
    width: 40.4%;
    height: 13.8%;
    background-size: cover;
    z-index: 13;
    transition: background-image 0.2s;
}
.selectionWheel-back-btn:focus {
    background-image: url('../img/selectionWheel/backBtnHover.png');
}
.newInfoFieldList{
    text-align: center;
}
.infoFieldName{
    color:blue;
    font-weight: bold;
}
.infoFieldValue{
    color:#f16102;
    font-weight: bold;
}
.selectionWheel-cast-info {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    z-index: 14;
}
.selectionWheel-cast-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.selection-img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 130%;
    transform: translate(-50%, -50%);
}
.selection-casts-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13;
}
.selection-cast-icon {
    position: absolute;
    width: 16%;
    height: 16%;
    border-radius: 50%;
    background-size: cover;
    border: 5px solid #000;
    color:green;
    font-weight: bold;
}
.selection-cast-icon:focus {
    border-color: #f16102;
}
.selection-cast-icon:nth-child(1) {
    left: 6.5%;
    top: 53%;
}
.selection-cast-icon:nth-child(2) {
    left: 8.8%;
    top: 26%;
}
.selection-cast-icon:nth-child(3) {
    left: 28%;
    top: 7.8%;
}
.selection-cast-icon:nth-child(4) {
    right: 28%;
    top: 7.8%;
}
.selection-cast-icon:nth-child(5) {
    right: 8.8%;
    top: 26%;
}
.selection-cast-icon:nth-child(6) {
    right: 6.5%;
    top: 53%;
}
/* SelectionWheel Style end */
